%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        =I18n.t('dea')
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =t('miscellaneous.places')
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                = t('miscellaneous.my_places')
            %li
              %a{:href => "#"}
                = t('miscellaneous.search')
            %li
              %a{:href => "#"}
                =t('miscellaneous.watch')
            %li
              %a{:href => "#"}
                =t('miscellaneous.report')

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =t('miscellaneous.friends')
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                =t('miscellaneous.my_friens')
            %li
              %a{:href => "#"}
                =t('miscellaneous.search')
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =t('miscellaneous.account')
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                =t('miscellaneous.preferences')
            %li
              %a{:href => "#"}
                =t('miscellaneous.settings')
            %li
              %a{:href => "#"}
                -if current_user
                  = link_to(t('miscellaneous.logout'), destroy_user_session_url, :method => :delete)
                -else
                  = link_to(t('miscellaneous.login'), new_user_session_url)
    / /.nav-collapse
