.js-vue-bing-map
  -# #js-bing-map{style:"height:400px; witdh:400px", 'v-on:click': 'downloadMicrosoft'}
  #js-bing-map{style:"height:400px; witdh:400px", 'v-on:click': 'createHandler'}

-# .preloader-wrapper.big.active
-#   .spinner-layer.spinner-red-only
-#     .circle-clipper.left
-#       .circle
-#     .gap-patch
-#       .circle
-#     .circle-clipper.right
-#       .circle

-# #example
-#   %vue-loading-circle-componet{'loading': "active"}
