.row
  - @restaurants.each do |restaurant|
    .card-panel.col.s12.m6.l4.center
      = image_tag resized_pyszne_image(restaurant), class: 'responsive-img'
    -# = restaurant.name
    -# = restaurant.meal_type






.col-xs-12
  = will_paginate @posts
.col-xs-12
  = link_to I18n.t('restaurant.report_new'), new_restaurant_path
